[Unit]
Description=Webapp Start
After=network.target
ConditionPathExists=/opt/webapp 

[Service]
EnvironmentFile= /etc/environment 
User=kshitij 
Group=users-csye6225 
ExecStart=/usr/bin/node /opt/webapp/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target