[Unit]
Description=Webapp Start
After=cloud-final.service
ConditionPathExists=/opt/webapp 

[Service]
Type=simple 
EnvironmentFile= /etc/environment 
User=kshitij 
Group=users-csye6225 
ExecStart=/usr/bin/node /opt/webapp/server.js
Restart=always
RestartSec=3
StandardOutput=append:/var/log/webapp.log
StandardError=append:/var/log/webapp_error.log

[Install]
WantedBy=cloud-init.target